* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    /* perguntar para o habib o que eh esse webkit */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#container {
    display: flex;
    min-width: 100vh;
    min-height: 100vh;
    /* nao sei se isso vai dar problema */
    overflow: hidden;
}


nav#nav-bar {
    /* fixando ela no canto da janela */
    position: fixed;
    left: 0;
    top: 0;
    
    /* ajustando o ul */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    background: #343A40;
    border-right: 3px solid #6C757D;
}

.logotipo {
    width: 44.89px;
    height: 62.4px;
    position: absolute;
    left: 10px;
    top: 20px;
}
nav#nav-bar .nav-ul {
    /* ajustando as li's */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* ----------------------------- */
    list-style-type: none;
    width: 80%;
    height: 77.6%;
}

nav#nav-bar .nav-ul .nav-item {
    width: 100%;
    height: 9%;
    border-radius: 15px;
    background: #495057;
    font-size: 1em;
}

nav#nav-bar .nav-ul .nav-item a{
    /* centralizando o texto */
    display: flex;
    align-items: center;
    justify-content: center;
/* ---------------------------------- */
    /* estilização */
    text-decoration: none;
    color: #F8F9FA;
    width: 100%;
    height: 100%;
}

section#main-content {
    width: 80%;
    margin-left: 20%;
    background: #212529;
    color: #F8F9FA;
}

section#main-content header#main-header #topo {
    width: 100%;
    height: 50px;
    border-bottom: 3px double #CED4DA;
}

section#main-content header#main-header #topo h1 {
    margin: 1.5% 71% 1% 7.1%;
    width: 100%;
    font-family: 'Trebuchet MS';
    letter-spacing: 3px;
    font-size: 2em;
}

section#main-content header#main-header #header-funcional {
    display: flex;
    align-items: center;
    height: 13%;
    border-bottom: 2px solid #CED4DA;
    padding: 1% 5% 
}

section#main-content header#main-header #header-funcional #novo-piu {
    display: flex;
    align-items: center;
    padding-right: 5%;
    margin-right: 5%;
    border-right: 1px solid #F8F9FA;
}

section#main-content header#main-header #header-funcional #novo-piu h2 {
    font-weight: normal;
    margin-right: 10px;
    font-size: 1.5em;
}

section#main-content header#main-header #header-funcional #novo-piu button#adicionar-piu {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: #ADB5BD;
}

section#main-content header#main-header #header-funcional #novo-piu button#adicionar-piu img {
    width: 40px;
    height: 40px;
}

section#main-content header#main-header #header-funcional #pesquisar-piu {
    display: flex;
    align-items: center;
}

section#main-content header#main-header #header-funcional #pesquisar-piu label {
    font-size: 1.5em;
    margin-right: 15px;
}

section#main-content header#main-header #header-funcional #pesquisar-piu #input-para-pesquisar-pius {
    height: 30px;
    width: 230px;
    border-radius: 9px;
    outline: none;
    padding: 10px 40px 10px 10px;
    font-size: 14px;
    color: #F8F9FA;
    
    /* ajustando pra nao poppar */
    border: 2px solid transparent;

    /* colocando o ícone de search */
    background: #6C757D url('img/search.svg') no-repeat 190px center;



}

section#main-content header#main-header #header-funcional #pesquisar-piu #input-para-pesquisar-pius:focus {
    border: 2px solid #ADB5BD;
    transition: .1s;
}

section#main-content header#main-header #header-funcional #pesquisar-piu #input-para-pesquisar-pius::placeholder {
    color: #ADB5BD;
}

div#campo-novo-piu {
    border-bottom: 2px solid #CED4DA;
    transition: display .5s;
    padding: 15px 0 15px 30px;
    background: #6c757d9d;
    position: relative;
    transition: height .5s; 
    display: flex;
}

div.invisible {
    height: 0px;
    margin: 0px;
    opacity: 0;
}

div.visible {
    align-items: flex-start;
    justify-content: flex-start;
    height: 230px;
}

div#campo-novo-piu div.alinhamento {
    margin-bottom: 10px;
    letter-spacing: 2px;
}

div#campo-novo-piu div.alinhamento-text-botao {
    display: flex;
    align-items: flex-end;
    justify-content: baseline;
}

div#campo-novo-piu textarea {
    /* BOX STYLE */
    width: 300px;
    height: 150px;
    margin: 0 10px;
    background: #6C757D;
    border-radius: 20px;
    padding: 20px;
    outline:none;
    border: 2px solid transparent;

    /* FONT STYLE */
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #F8F9FA;
}

div#campo-novo-piu textarea::placeholder {
    color: #ADB5BD;
}

div#campo-novo-piu textarea:focus {
    border: 2px solid #ADB5BD;
    transition: .1s;
}

div#campo-novo-piu button#postar-piu {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: #343A40;
    color: #ADB5BD;
    font-weight: bold;
    letter-spacing: 2px;
}

div#campo-novo-piu div#alinhamento-botao-contador {
    display: flex;
    justify-content: center;
    align-items: center;
}

div#campo-novo-piu div#alinhamento-botao-contador p#contador {
    margin-left: 10px;
}

div#campo-novo-piu div#alinhamento-botao-contador p#tamanho-maximo-caracteres {
    margin-right: 10px;
}

div#campo-novo-piu p#fechar-aba {
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: pointer;
}

div#campo-novo-piu p#fechar-aba:hover {
    color: #ADB5BD;
    transition: .2s;
}


section#main-content main#feed  #lista-de-pius {
    display: flex;
    flex-direction: column-reverse;
    list-style-type: none;
}

section#main-content main#feed  #lista-de-pius .piu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #CED4DA;
    padding: 20px
}

section#main-content main#feed  #lista-de-pius .piu .profile-picture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 40px;
    object-fit: cover;
} 

section#main-content main#feed  #lista-de-pius .piu .suporte {
    display: flex;
}

section#main-content main#feed  #lista-de-pius .piu .texto-do-piu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 450px;   
}

section#main-content main#feed  #lista-de-pius .piu .texto-do-piu h3 {
    margin-bottom: 16px;
    font-weight: 650;
    font-size: 14px;
}

section#main-content main#feed  #lista-de-pius .piu div.actions {
    justify-self: flex-end;
    align-self: flex-end;
    margin-right: 5px;
    display: flex;
}   

section#main-content main#feed  #lista-de-pius .piu div.actions span.action{
    display: flex;
    align-items: baseline;
    justify-content: center;
    color: #adb5bd94;
    cursor: pointer;
}

section#main-content main#feed  #lista-de-pius .piu div.actions .icone-action {
    width: 26px;
    height: 26px;
    margin: 0 10px 0 7px;
}

.ativo{
    text-decoration: underline;
}

.extrapolou{
    color: red;
    font-weight: 600;
}

/* disabled: true */
